body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
section {
    background-color: white;
}

.hero{
    background-color: #1c1d25;
    height:100vh;
    color:white;
    font-size: 40px;
}


footer {
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1c1d25;
    color: white;
    padding: 10px;
}

footer ul{
    display: flex;
    text-align: center;
    background-color: #1c1d25;
    z-index: 2;
}

nav{
    display:flex;
    justify-content: space-between;
}
ul{
    display: flex;
    font-size: 30px;
    justify-content: space-around;
    list-style-type: none;
    width: 550px;
    margin-right: 20px;
}

li{
    text-decoration: none;
    margin-left: 10px;
    z-index: 3;

}
h1{
    font-size: 70px;
    margin:0;
}
h2{
    font-size: 50px;
}
p{
    margin:0;
    font-size: 25px;
    font-weight: 300;
}
.hero-area{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.hero-text{
    margin-left: 90px;
    margin-bottom: 200px;
    flex: 0.6;
    z-index: 3;
}

.button{
    width: 220px;
    height: 55px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    font-weight: 300;
    padding-bottom: 3px;
    margin-top:20px;
}

.button:hover{
    background-color: #ef744b;

}
.button:active{
    background-color: darkgrey;

}
.socials{
    padding-bottom: 200px;
    z-index: 3;
}
.social{
    margin:20px;
}
.logo{
    height:120px;
    margin-left:20px;
}
.sub-section{
    display:flex;
    justify-content: space-around;
    padding: 80px;
}
.project-section{
    display:flex;
    flex-direction: column;
    text-align: center;
}
.headshot{
    width:300px;
    border-radius:150px;
}
.headshot-container{
    display:flex;
    align-items: center;
}
.project-card{
   
    margin:20px;
    display: flex;
    justify-content: space-between;

}

.project-container{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}
@media only screen and (max-width : 1000px){
    .project-card{
        margin:20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;    
    }
    .project-image{
        align-items: center;
    }
    
    .project-container{
        display:flex;
        flex-wrap:wrap;
    }
    .sub-section{
        display:flex;
        flex-direction: column-reverse;
    }
   
}
.project-image{
    height:400px;
    box-shadow: 5px 5px 20px rgb(167, 166, 166);
    margin:10px;
    margin-top:20px;
    border: rgb(167, 166, 166) 1px solid;
    flex:1;
    width: 100%;
}
.project-image img{
    width:100%;
    height:400px;
}
.project-describe{
    height:400px;
    margin:15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:1;
}
hr{
    margin-left: 20px;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: white;
}
.hamburger{
    display:none;
}
.hamburger:focus{
    outline:0;
}
@media only screen and (max-width : 1000px){
    .hamburger{
        display:block;
        border:0;
        background-color: transparent;
        color:white;
        font-size: 30px;
        margin:20px;
        align-self: flex-end;
        z-index: 2;
    }
    ul{
        display:none;
        background-color:#2b2c38;
        margin: 0px;
        z-index: 3;
    }
    .logo{
        display:none;
    }
    nav{
        display:flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        background-color:#2b2c38;
    }
    ul.show{
        display: block;
    }
}

.sendEmail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 50px;


}


.sub-pages-footer {
    position: fixed;
}


@media only screen and (max-width: 600px) {
    .sub-pages-footer {
        position: relative;
    }
}

.form-submit {
    width: 50%;
    box-shadow: 5px 5px 10px rgb(167, 166, 166);
    padding:30px;
}

.form-submit form {
    width: 100%;
}

.form-submit .form-row {
    display: flex;
    flex-direction: column;
}

.form-row .form-control {
    width: 100%;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    padding: 10px 0;
    margin-top: 20px;
}

.form-row .form-control:focus,
.form-submit textarea:focus {
    outline: 0;
    background-color: rgb(217, 223, 227);
}

.form-submit textarea {
    width: 100%;
    border: none;
    padding: 0;
    resize: none;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 20px;
    padding: 20px 0;
}

form button {
    width: 100%;
    background-color: rgb(36, 50, 60);
    color: rgb(255,255,255);
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .form-submit {
        width: 80%;
    }
}

.subtitle{
    text-align: center;
    padding:0;
    margin:0;
}
.information{
    flex:0.8;
}
.subtext{
    font-size:15px;
    align-items: center;
    justify-content: center;
}
.project-link-live{
    border: rgb(36, 50, 60) 1px solid;
    padding: 10px;
    background-color: white;
    color: rgb(36, 50, 60);
    display: flex;
	align-items: center;
	justify-content: center;
}
.project-link-code{
    border: rgb(36, 50, 60) 1px solid;
    padding: 10px;
    background-color: rgb(36, 50, 60);
    color: white;
    margin: 10px;
    display: flex;
	align-items: center;
	justify-content: center;
}
.demos-link{
    display:flex;
}
.demo{
    display: flex;
	align-items: center;
	justify-content: center;
}
.project-tech-sub{
    font-size: 20px;
    margin-bottom:10px;
    margin-right: 10px;
    font-weight: bold;
    color:rgb(36, 50, 60);
}
.project-tech-used{
    display:flex;
}
.project-section{
    margin-bottom: 20px;
}
#particle-container1,#particle-container2{
    height: 100%;
    width: 100%;
    position : absolute;
    z-index: 1;


}
#particle-container3{
    position:absolute;
    height: 150px;
    width: 100%;
    z-index: 1;
}

/*technical skill section style */

.tech-skills{
    display: flex;
    flex-direction: column;
    background-color: #1c1d25;
    color:white;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    height:100vh;
    text-align: center;


}

.skill-icons{
    align-items: center;
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
    
}
.each-icon{
    margin:20px;
}

@media only screen and (max-width: 600px) {
.each-icon img{
    width: 60px;
    height: 60px;
    display: inline-block; /* make the image an inline block element */
}


}
